In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
filename = 'pbp-2022.csv'

df = pd.read_csv(filename)
df.head()

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2022091106,2022-09-11,2,1,17,MIA,NE,2,10,55,...,0,0,NaN,45,OPP,0,NaN,0,NaN,0
1,2022091106,2022-09-11,3,7,4,NE,MIA,4,1,72,...,0,0,NaN,28,OPP,1,MIA,1,ILLEGAL CONTACT,5
2,2022091106,2022-09-11,3,6,57,NE,MIA,1,10,77,...,0,0,CENTER,23,OPP,0,NaN,0,NaN,0
3,2022091106,2022-09-11,3,6,17,NE,MIA,2,10,77,...,0,0,NaN,23,OPP,0,NaN,0,NaN,0
4,2022091106,2022-09-11,4,9,46,NE,MIA,4,3,100,...,0,0,NaN,0,OPP,0,NE,0,OFFENSIVE HOLDING,0

In [3]:
weather_filepath = "weather_20131231.csv"
weather = pd.read_csv(weather_filepath)

weather.head()

,id,home_team,home_score,away_team,away_score,temperature,wind_chill,humidity,wind_mph,weather,date
0,196009230ram,Los Angeles Rams,21,St. Louis Cardinals,43,66,NaN,78%,8.0,66 degrees- relative humidity 78%- wind 8 mph,9/23/1960
1,196009240dal,Dallas Cowboys,28,Pittsburgh Steelers,35,72,NaN,80%,16.0,72 degrees- relative humidity 80%- wind 16 mph,9/24/1960
2,196009250gnb,Green Bay Packers,14,Chicago Bears,17,60,NaN,76%,13.0,60 degrees- relative humidity 76%- wind 13 mph,9/25/1960
3,196009250sfo,San Francisco 49ers,19,New York Giants,21,72,NaN,44%,10.0,72 degrees- relative humidity 44%- wind 10 mph,9/25/1960
4,196009250clt,Baltimore Colts,20,Washington Redskins,0,62,NaN,80%,9.0,62 degrees- relative humidity 80%- wind 9 mph,9/25/1960